@import "tailwindcss";

:root {
  --bg-light: #f5f6fa;
  --bg-light-rgb: 245, 246, 250;
  --bg-dark: #020617;
  --bg-dark-rgb: 2, 6, 23;

  --elemBg-dark: rgba(16, 23, 40, 0.27);
  --elemBg-light: rgba(248, 250, 252, 0.27);

  --text-light: #020617;
  --text-dark: #e0e0e0;
  
  --accent: #00f6ff;
  --accent-rgb: 0, 246, 255;
  --secondary: #8B5CF6;
  --secondary-rgb: 139, 92, 246;

  --border-light: rgba(15,23,42,0.08);
  --border-dark:  rgba(255,255,255,0.08);

  --status-correct: #22C55E;
  --status-wrong: #F43F5E;
  --status-info: #38BDF8;

  --cat-js: #FF6F00;
  --cat-js-rgb: 201, 255, 26;
  --cat-react: #7C3AED;
  --cat-react-rgb: 124, 58, 237;
  --cat-html: #FF3D00;
  --cat-html-rgb: 255, 79, 58;
  --cat-next: #7C4DFF;
  --cat-next-rgb: 139, 92, 246;
  --cat-wordpress: #21759B;
  --cat-wordpress-rgb: 30, 200, 255;
  --cat-vue: #41B883;
  --cat-vue-rgb:43, 255, 136;
  --cat-php: #6E7CFF;
  --cat-php-rgb: 110, 124, 255;
  --cat-laravel: #FF3B6B;
  --cat-laravel-rgb: 255, 59, 107;

  --questions-gap: 80px;
}

@layer base {
  html {
    font-family: var(--firaCode);
    color-scheme: dark;
    scroll-behavior: smooth;
    @apply  text-[14px] sm:text-base leading-normal h-screen;
    
    &:has(input[data-theme]:checked) {
      color-scheme: light;
    }
  }
  body {
    align-items: flex-start;
    color: light-dark(var(--text-light), var(--text-dark));
    background-color: light-dark(var(--bg-light), var(--bg-dark));
    @apply relative flex items-start min-h-full;
    
    &::before {
      content: '';
      background-image: url("/images/noise-for-dark.png");
      opacity: light-dark(0.2, 0.8);
      @apply block absolute top-0 left-0 w-full h-full -z-2 pointer-events-none;
    }
    &::-webkit-scrollbar-track {
      border-radius: 3px;
      background-color: var(--secondary);
    }
    &::-webkit-scrollbar {
      width: 2px;
      background-color: var(--secondary)
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 3px;
      background-color: var(--accent)
    }
  }
  main {
    flex: 1 1 auto;
    @apply px-[clamp(20px,2.3vw,40px)]
  }
  section {
    @apply py-[clamp(40px,3.2vw,60px)];
    &:has(.flow) {
      @apply pb-[clamp(15px,1.6vw,30px)];
    }
  }
  .content {
    container-type: inline-size;
    @apply max-w-310 mx-auto
  }
  .divider {
    border-color: light-dark(var(--border-light), var(--border-dark));
    @apply mt-9 w-full
  }
  .gradientText {
    background-clip: text;
    color: transparent;
    @apply bg-linear-to-r from-(--accent) from-0% to-(--secondary) to-70%
  }
  .elementBg {
    background-color: light-dark(var(--elemBg-light), var(--elemBg-dark));
    border: 1px solid light-dark(var(--border-light), var(--border-dark));
    @apply p-4 rounded-xl backdrop-blur-[3px];
  }
  .progressMask {
    background-color: light-dark(rgba(var(--bg-light-rgb),0.9), rgba(var(--bg-dark-rgb),0.9));
    @apply h-full
  }
  a:not([class]) {
    position: relative;
    display: inline-block;
    transition: color 0.3s;
    &::before {
      content: '';
      position: absolute;
      top: calc(100% + 2px);
      left: 0;
      right: 0;
      height: 1px;
      transition: background-image 0.3s;
      @apply bg-linear-to-r from-(--accent) from-0% to-(--secondary) to-70% 
    }
    &:hover, &:focus-visible {
      color: var(--secondary);
      &::before {
        @apply bg-linear-to-r from-(--accent) from-0% to-(--secondary) to-0% 
      }
    }

  }
  .btn {
    --darkShadow: 0 0 14px rgba(0,246,255,0.35), 0 2px 8px rgba(0,0,0,0.6);
    --lightShadow: 0 0 10px rgba(0,200,214,0.25), 0 4px 14px rgba(15,23,42,0.12);
    
    border-color: light-dark(var(--border-light), var(--border-dark));
    background-color: light-dark(var(--elemBg-light), var(--elemBg-dark));
    box-shadow: light-dark(var(--lightShadow), var(--darkShadow));
    @apply inline-flex items-center justify-center w-50 h-13 text-[clamp(14px,1.1vw,16px)] font-semibold border rounded-[5px] backdrop-blur-[3px] cursor-pointer;
    
    &:hover, &:focus-visible {
      box-shadow: 0 0 18px rgba(0,246,255,0.45), 0 4px 12px rgba(0,0,0,0.7);
    }
  }
}
@layer components {
  .sectionDivider {
    @apply relative block px-3.75 h-px bg-linear-to-r from-(--accent) from-0% to-(--secondary) to-70% -z-1;
    &::before, &::after {
      content: '';
      display: inline-block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 15px;
      height: 15px;
      border-radius: 50%;
    }
    &:before {
      background-color: var(--accent);
      left: 0;
    }
    &::after {
      background-color: var(--secondary);
      right: 0;
    }
  }
  .header {
    translate: calc((100% - 32px) * -1) 0;
    transition: translate 0.3s;
    @apply fixed top-0 left-0 flex items-start h-screen z-2 lg:sticky lg:translate-[0_0] lg:top-0 lg:w-80;
    &:has(input[data-menu]:checked) {
      translate: 0 0;
      z-index: 2;
      .menuIconClose {
        display: flex;
      }
    }
    input[data-menu]:checked + .menuIconOpen {
      @apply hidden
    }
  }
  .menuIconClose {
    @apply w-8 h-6 hidden items-center justify-center;
    &::after, &::before {
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      background-color: var(--secondary);
    }
    &::after {
      rotate: 45deg;
      translate: -50%;
    }
    &::before {
      rotate: -45deg;
      translate: 47%;
    }
  }
  .menuIconOpen {
    @apply block w-4 h-0.5 bg-(--secondary) shadow-[0_5px_0_var(--secondary),0_-5px_0_var(--secondary)]
  }
  .headerContent {
    flex: 1 1 auto;
    background-color: light-dark(var(--elemBg-light), var(--elemBg-dark));
    box-shadow: inset -1 0 0 light-dark(rgba(15,23,42,0.08), rgba(255,255,255,0.06));
    @apply flex flex-col h-full items-center px-4 py-9 backdrop-blur-[10px] overflow-auto;
    &::-webkit-scrollbar-track {
      border-radius: 3px;
      background-color: var(--accent);
    }
    &::-webkit-scrollbar {
      width: 2px;
      background-color: var(--accent)
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 3px;
      background-color: var(--secondary)
    }
  }
  .menuLink {
    color: light-dark(var(--text-light), var(--text-dark));
    @apply text-[1.25rem] hover:text-(--secondary) transition-colors duration-500 focus-visible:text-(--secondary)
  }
  .toggleBtn {
    anchor-name: --my-anchor;
    @apply cursor-pointer font-bold hover:opacity-80 transition-opacity duration-300;
    &:hover + .themToggleHint {
      opacity: 1;
      visibility: visible;
    }
  }
  .themToggleHint {
    position: absolute;
    position-anchor: --my-anchor;
    position-area: block-start center;
    filter: drop-shadow(0 0 1px light-dark(var(--text-light), var(--text-dark)));
    transition: all 0.3s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    @apply mb-5 mr-2.5 text-[14px];
    span {
      background-color: light-dark(var(--bg-light), var(--bg-dark));
      @apply block w-auto p-4 rounded-xl whitespace-nowrap;
      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 99%;
        right: 40px;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid light-dark(var(--bg-light), var(--bg-dark));
      }
    }
  }
  .hwCardRow {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px 16px;
  }
  .hwCard {
    position: relative;
    &::before {
      content: '';
      @apply block absolute -z-1 pointer-events-none opacity-35;
    }
    &:nth-child(1) {
      grid-column: 1/4;
      &:before {
        border-top: 2px solid var(--accent);
        border-right: 2px solid var(--accent);
        filter: drop-shadow(0px 0px 7px var(--accent));
        @apply top-[20%] left-[98%] w-25 h-full;
      }
      &:after {
        content: '';
        top: 18%;
        left: calc(98% + 94px);
        box-shadow: 0 0 16px rgba(0, 246, 255, 0.529);
        @apply block absolute w-2.5 h-2.5 rounded-[50%] bg-(--accent);
      }
      
    }
    &:nth-child(3) {
      grid-column: 7/10; 
      &::before {
        border-bottom: 2px solid var(--secondary);
        border-right: 2px solid var(--secondary);
        filter: drop-shadow(0px 0px 7px var(--secondary));
        @apply top-[93%] left-[43%] h-26 w-5;
      }
      &:after {
        content: '';
        border-top: 2px solid var(--secondary);
        border-right: 2px solid var(--secondary);
        filter: drop-shadow(0px 0px 7px var(--secondary));
        @apply block absolute top-[35%] left-[98%] w-[45%] h-[86%] opacity-35 -z-1;
      }
    }
    &:nth-child(2) {
      grid-row: 2;
      grid-column: 4/7;
      &::before {
        border-bottom: 2px solid var(--accent);
        filter: drop-shadow(0px 0px 7px var(--accent));
        @apply top-17.75 left-[98%] w-[50%] h-px;
      }
      &:after {
        content: '';
        box-shadow: 0 0 16px rgba(0, 246, 255, 0.529);
        @apply block absolute top-16.75 left-[146%] w-2.5 h-2.5 rounded-[50%] bg-(--accent);
      }
    }
    &:nth-child(4) {
      grid-row: 2;
      grid-column: 10/-1;
      &::before {
        border-bottom: 2px dashed var(--secondary);
        filter: drop-shadow(0px 0px 7px var(--secondary));
        @apply top-[15%] right-[98%] w-[58%] h-px;
      }
      &::after {
        content: '';
        box-shadow: 0 0 16px rgba(139, 92, 246, 0.8);
        @apply block absolute w-2.5 h-2.5 rounded-[50%] bg-(--secondary) -left-1 top-[12.8%];
      }
    }
  }
  .topicsItem {
    --gap: clamp(62px, 4vw, 74px);
    @apply w-full h-full relative max-w-107.5 mx-auto overflow-hidden;
    &:hover, &:focus-visible {
      .topicsTitle {
        translate: 0 calc((100% - var(--gap)) * -1);
      }
    }
  }
  .topicsLink {
    color: light-dark(var(--secondary), var(--accent));
    @apply flex-[0_0_50%] opacity-65 relative hover:opacity-100 focus-visible:opacity-100;
    &:before {
      content: '';
      @apply block absolute top-[49%] w-4 h-0.5 bg-(--accent);
    }
    &:nth-child(even) {
      @apply text-right pr-1.5 before:left-full;
    }
    &:nth-child(odd) {
      @apply pl-1.5 before:right-full; 
    }
  }
  .topicsTitle {
    --bgTitleDark: rgba(var(--bg-dark-rgb), 0.7);
    --bgTitleLight: rgba(var(--bg-light-rgb), 0.7);
    background-color: light-dark(var(--bgTitleLight), var(--bgTitleDark));
    translate: 0 0;
    transition: translate 0.4s;
    border-bottom: 1px solid;
    @apply absolute top-0 left-0 bottom-0 right-0 p-4 flex flex-col justify-end text-[clamp(20px,1.5vw,28px)] z-1 backdrop-blur-[10px];
    &.react {
      border-color: var(--cat-react);
    }
    &.next {
      border-color: var(--cat-next);
    }
    &.vue {
      border-color: var(--cat-vue);
    }
    &.html {
      border-color: var(--cat-html);
    }
    &.js {
      border-color: var(--cat-js);
    }
    &.php {
      border-color: var(--cat-php);
    }
    &.laravel {
      border-color: var(--cat-laravel);
    }
    &.wordpress {
      border-color: var(--cat-wordpress);
    }
  }
  /* questions page */
  .techName {
    &.react {
      color: var(--cat-react);
    }
    &.next {
      color: var(--cat-next);
    }
    &.vue {
      color: var(--cat-vue);
    }
    &.html {
      color: var(--cat-html);
    }
    &.js {
      color: var(--cat-js);
    }
    &.php {
      color: var(--cat-php);
    }
    &.laravel {
      color: var(--cat-laravel);
    }
    &.wordpress {
      color: var(--cat-wordpress);
    }
  }
  .questionForm {
    @apply grid grid-cols-2 gap-(--questions-gap) items-center;
    position: relative;
    &:before {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 2px;
      background: linear-gradient(to bottom, transparent,rgba(0, 245, 255, 0.2), rgba(168, 85, 247, 0.2), transparent);
      pointer-events: none;
    }
  }
  .questionItem {
    @apply relative;
    &::before {
      @apply block absolute -z-1 content-[''];
    }
    &:nth-child(1):before {
      @apply top-[99%] -right-10 w-37.5 h-8.75 border-b border-l border-[rgba(var(--accent-rgb),30%)];
    }
    &:nth-child(2):before {
      @apply bottom-25 right-full w-10 h-px border-b border-[rgba(var(--accent-rgb),25%)];
    }
    &:nth-child(3):before {
      @apply top-[50%] left-full w-(--questions-gap) h-px border-b border-[rgba(var(--accent-rgb),30%)];
    }
    &:nth-child(4):before {
      height: calc(var(--questions-gap)/2);
      width: calc(50% + var(--questions-gap)/2);
      @apply top-full right-[50%] border-r border-b border-[rgba(var(--accent-rgb),30%)];
    }
    &:nth-child(5) {
      &:before {
        height: calc(var(--questions-gap)/2);
        width: calc(50% + var(--questions-gap)/2);
        @apply bottom-full left-[50%] border-l border-t border-[rgba(var(--accent-rgb),30%)];
      }
      &:after {
        width: calc(90% + var(--questions-gap)/2);
        @apply block content-[''] absolute h-12.5 top-full left-[10%] border-b border-l border-[rgba(var(--secondary-rgb),30%)]
      }
    }
    &:nth-child(6) {
      &:before {
        height: calc(var(--questions-gap)/2);
        width: calc(20% + var(--questions-gap)/2);
        @apply top-full right-[80%] border-r border-b border-[rgba(var(--secondary-rgb),30%)]
      }
      &::after {
        width: calc(var(--questions-gap)/2);
        @apply block content-[''] absolute h-1  bottom-37.5 right-full border-b border-[rgba(var(--secondary-rgb),30%)]
      }
    }
    &:nth-child(7):before {
      width: calc(var(--questions-gap)/2);
      @apply top-[50%] left-full h-px border-b border-[rgba(var(--secondary-rgb),30%)]
    }
    &:nth-child(8):before {
      width: calc(91% + var(--questions-gap)/2);
      @apply top-full right-[9%] h-8 border-r border-b border-[rgba(var(--secondary-rgb),30%)]
    }
    &:nth-child(9):before {
      width: calc(var(--questions-gap)/2);
      @apply top-[20%] left-full h-px border-b border-[rgba(var(--secondary-rgb),30%)]
    }
    &:nth-child(10):before {
      width: calc(var(--questions-gap)/2);
      @apply bottom-[20%] right-full h-px border-b border-[rgba(var(--secondary-rgb),20%)]
    }
  }
  .question {
    --shadow: var(--bg-dark-rgb);
    border-color: currentColor;
    box-shadow: 0 0 20px rgba(var(--shadow), 0.2), inset 0 0 20px rgba(var(--shadow), 0.2);
    &:focus-within {
      box-shadow: 0 0 30px rgba(var(--shadow), 0.2), inset 0 0 30px rgba(var(--shadow), 0.2);
    }
    &.react {
      --shadow: var(--cat-react-rgb);
      color: var(--cat-react)
    }
    &.next {
      --shadow: var(--cat-next-rgb);
      color: var(--cat-next);
    }
    &.vue {
      --shadow: var(--cat-vue-rgb);
      color: var(--cat-vue);
    }
    &.html {
      --shadow: var(--cat-html-rgb);
      color: var(--cat-html);
    }
    &.js {
      --shadow: var(--cat-js-rgb);
      color: var(--cat-js);
    }
    &.php {
      --shadow: var(--cat-php-rgb);
      color: var(--cat-php);
    }
    &.laravel {
      --shadow: var(--cat-laravel-rgb);
      color: var(--cat-laravel);
    }
    &.wordpress {
      --shadow: var(--cat-wordpress-rgb);
      color: var(--cat-wordpress);
    }
  }
  .questionText {
    color: light-dark(var(--text-light), var(--text-dark));
    @apply py-2.5
  }
  .questionAnswers {
    list-style: upper-latin;
    @apply pt-2.5 pl-8.75
  }
  .questionFormBtn {
    grid-column: 1/-1;
  }
  .answerItem {
    @apply block cursor-pointer;
    &.isSelected {
      span {
        color: currentColor;
      }
    }
    &:has(input:focus-visible) {
      span {opacity: 0.6;}
    }
    span {
      color: light-dark(var(--text-light), var(--text-dark));
      transition: opacity 0.3s;
      &:hover {
        opacity: 0.6;
      }
    }
    input {
      @apply w-0 h-0 opacity-0 pointer-events-none;
    }
    input:checked + span {
      color: currentColor;
    }
  }
  .questionDivider {
    color: light-dark(var(--text-light), var(--text-dark));
    @apply flex items-center justify-between opacity-20;
    .line {
      width: calc(100% - 30px);
      background: repeating-linear-gradient(to right, currentColor 0 15px, transparent 15px 21px), repeating-linear-gradient(to right, currentColor 0 15px, transparent 15px 21px);
      background-size: 100% 2px, 100% 2px;
      background-position: 0 0, 0 6px;
      background-repeat: repeat-x;
      @apply block h-2;
    }
  }
  .noAnswerModal {
    &::backdrop {
      background-color: rgb(var(--secondary-rgb),0.8);
    }
    .closeModal {
      cursor: pointer;
      transition: opacity 0.3s;
      &:before, &:after {
        display: block;
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 16px;
        height: 2px;
        background: currentColor;
        transform-origin: center;
      }
      &::before {
        transform: translate(-50%, -50%) rotate(45deg);
      }
      &:after {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
      &:hover, &:focus-visible {
         opacity: 0.7;
      }
    }
  }
  /* statistic page */
  .statTechItem {
    &.react {
      --shadow: var(--cat-react-rgb);
      color: var(--cat-react)
    }
    &.next {
      --shadow: var(--cat-next-rgb);
      color: var(--cat-next);
    }
    &.vue {
      --shadow: var(--cat-vue-rgb);
      color: var(--cat-vue);
    }
    &.html {
      --shadow: var(--cat-html-rgb);
      color: var(--cat-html);
    }
    &.js {
      --shadow: var(--cat-js-rgb);
      color: var(--cat-js);
    }
    &.php {
      --shadow: var(--cat-php-rgb);
      color: var(--cat-php);
    }
    &.laravel {
      --shadow: var(--cat-laravel-rgb);
      color: var(--cat-laravel);
    }
    &.wordpress {
      --shadow: var(--cat-wordpress-rgb);
      color: var(--cat-wordpress);
    }
  }
  .statTechInfo {
    color: light-dark(var(--text-light), var(--text-dark));
  }
}
@container (max-width: 900px)  {
  .hwCardRow {
    grid-template-columns: repeat(8, 1fr);
    gap: 30px 16px;
  }
  .hwCard {
    &:nth-child(1) {
      grid-column: 1/4;
      &:before {
        @apply w-13 h-[112%];
      }
      &:after {
        left: calc(98% + 43px);
      }
      
    }
    &:nth-child(3) {
      grid-column: 5/8; 
      &::before {
        @apply top-[92%] left-[11%] h-27.5;
      }
      &::after {
        @apply w-[19%] h-full;
      }
    }
    &:nth-child(2) {
      grid-row: 2;
      grid-column: 2/5;
      &::before {
        @apply w-[17%];
      }
      &:after {
        @apply left-[113%];
      }
    }
    &:nth-child(3) {
      &::before {
        @apply h-28.25;
      }
    }
    &:nth-child(4) {
      grid-row: 2;
      grid-column: 6/-1;
      &::before {
        @apply w-[20%];
      }
    }
  }
  .aboutBlocks {
    flex-direction: column;
    align-items: center;
  }
  .aboutBlockItem {
    width: 100%;
    max-width: 430px;
  }
  .topicsGrid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .questionForm {
    --questions-gap: 40px;
  }
  .questionItem {
    &:nth-child(1):before {
      right: -20px;
    }
    &:nth-child(5)::after {
      height: 25px;
    }
  }
  .resultItem {
    @apply flex-col gap-4;
  }
  .resultItemCol {
    flex: 1 1 100%
  }
}
@container (max-width: 765px) {
  .questionForm {
    grid-template-columns: 1fr;
    &:before {
      display: none;
    }
  }
  .questionItem {
    &::before, &::after {
      display: none;
    }
  }
}
@container (max-width: 678px) {
  .hwCardRow {
    @apply flex flex-col gap-y-5 items-center
  }
  .hwCard {
    @apply max-w-107.5 w-full;
    &::before, &::after {
      display: none;
    }
  }
  .topicsGrid {
    @apply gap-4
  }
  .overviewList {
    @apply gap-4
  }
}
@container (max-width: 400px) {
  .topicsGrid {
    grid-template-columns: 1fr;
  }
  .resultsBtns {
    @apply flex-col;
  }
}
@media (hover: none) {
  .topicsTitle {
    @apply top-0 bottom-auto
  }
}
